<div id="topicsContainer">
    <div id="topicsHeader">
        <h1> Android Guide </h1>
    </div>
    <% @topics.each do |topic_info| %>

    <div class="individualTopic">
        <a href="/topics/<%= topic_info.id%>"> 
            <h2> <%= topic_info.title %> </h2>

            <%= image_tag topic_info.icon %> 
        </a>

        <% if developer_signed_in? %>
        <span> 
            <a href="/topics/<%= topic_info.id %>/edit"> Edit </a> |

            <%= link_to 'Delete', topic_path(topic_info), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </span>
    </div>
    <% end %>

    <div class="individualTopic">
        <a href="/tutorials"> 
            <h2> Index </h2>

            <%= image_tag "index-all.png" %> 
        </a>
    </div>
</div>

<div class="android-guide">
        <div class="speech-bubble">
            <p> Welcome! Tap on any topic to get started! </p>
        </div>
        <%= image_tag "android-guide.png" %>
    </div>