<div id="individualTopicContainer">
    <h2> <%= @topic.title %> </h2>

    <ul>
    <% @topic_tutorials.each do |tutorial| %>
        
            <li> 
            <% if tutorial.icon.attached? %>
                <span> <%= image_tag tutorial.icon %> </span>
            <% end %>
            <a href="/tutorials/<%=tutorial.id %>"> <%= tutorial.title %> 
            </a> </li>
        

    <% end %>
    </ul>

    <%= link_to 'Back', :back %>
</div>