<div id="individualTopicContainer">
    <h2> <%= @topic.title %> </h2>

    <ul>
    <% @topic_tutorials.each do |tutorial| %>
        
            <li> 
            <% if tutorial.icon.attached? %>
                <span> <%= image_tag tutorial.icon %> </span>
            <% end %>
            <a href="/tutorials/<%=tutorial.id %>"> <%= tutorial.title %> 
            </a> </li>
        

    <% end %>
    </ul>

    <%= link_to 'Back', :back %>
</div>

<div class="android-guide">
        <div class="speech-bubble">
            <p> <a href="/topics"> Tap here to go back to the main page! </a> </p>
        </div>
        <a href="/topics"> <%= image_tag "android-guide-II.png" %> </a>
</div>