<%= form_with model: @tutorial, local: true do |form| %>
    <div class="field"> 
        <label> Topic: </label>
        <%= form.select(:topic_id) do %>
            <% @topics.order('id ASC').each do |topic_select| %>
              <%= content_tag(:option, topic_select.title, value: topic_select.id) %>
            <% end %>
        <% end %> 
    </div>
    <div class="field"> 
        <label> Title: </label>
        <%= form.text_field :title %> 
    </div>
    <div class="field"> 
        <label> Definition: </label>
        <%= form.text_field :definition %> 
    </div>
    <div class="field"> 
        <label> Icon Upload: </label>
        <%= form.file_field :icon %> 
    </div>
    <div class="field"> 
        <label> Image Upload: </label>
        <%= form.file_field :figures, multiple: true %> 
    </div>
    <div class="field"> 
        <%= form.submit %> 
    </div>
<% end %>