<div id="individualTutorialContainer">
    <h1> <%= @tutorial.title %> </h1>
    <% if @tutorial.figures.blank? == false %>
        <% @tutorial.figures.each do |image| %>
            <%= image_tag image %>
        <% end %>
    <% end %>

    <h3> <%= @tutorial.definition %> </h3>

    <% if @subtopics.exists? %>
        <ul>
        <% @subtopics.each do |subtopic| %>
                <li> <a href="/subjects/<%=subtopic.id%>"> <%= subtopic.title %> </li>
        <% end %>
        </ul>
    <% end %>

    <%= link_to 'Back', :back %>
</div>

