<div id="individualTutorialContainer">
    <h1> <%= @tutorial.title %> </h1>
    <% if @tutorial.figures.blank? == false %>
        <% @tutorial.figures.each do |image| %>
            <%= image_tag image %> <br/>
        <% end %>
    <% end %>

    <h3> <%= @tutorial.definition %> </h3>

    <% if @subtopics.exists? %>
        <ul>
        <% @subtopics.each do |subtopic| %>
                <li> <a href="/subjects/<%=subtopic.id%>"> <%= subtopic.title %> </a> <br/>

                <% if developer_signed_in? %>
                <span>
                    (<a href="/subjects/<%= subtopic.id %>/edit"> Edit </a> |
                    <%= link_to 'Delete', subject_path(subtopic), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %> )
                </span>
                <% end %>

                </li>
        <% end %>
        </ul>
    <% end %>

    <% if developer_signed_in? %>
            <span>
                (<a href="/tutorials/<%= @tutorial.id %>/edit"> Edit </a> |
                <%= link_to 'Delete', tutorial_path(@tutorial), method: :delete, remote:true, data: { confirm: 'Are you sure?' } %> )
            </span>
            <% end %>
    <%= link_to 'Back', :back %>
</div>

