<%= form_with model: @subject, local: true do |form| %>
    <div class="field"> 
        <label> Tutorial: </label>
        <%= form.select(:tutorial_id) do %>
            <% @tutorial.order('id ASC').each do |tutorial_select| %>
              <%= content_tag(:option, tutorial_select.title, value: tutorial_select.id) %>
            <% end %>
        <% end %> 
    </div>
    <div class="field"> 
        <label> Title: </label>
        <%= form.text_field :title %> 
    </div>
    <div class="field"> 
        <label> Definition: </label>
        <%= form.text_area :definition %> 
    </div>
    <div class="field"> 
        <label> File Uploads: </label>
        <%= form.file_field :figures, multiple: true %> 
    </div>
    <div class="field"> 
        <%= form.submit %> 
    </div>
<% end %>