<!DOCTYPE html>
<html>
  <head>
    <title>Android Guide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Open+Sans', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if developer_signed_in? %>
        <nav> 
          <span> Signed in as <%= current_developer.email %> </span>
          <span> <%= link_to "Sign Out", destroy_developer_session_path, :method => :delete %> <span>
        </nav>

        <div id="fixedMenu">
          <ul id="mainList">
            <li> Go to: </li>
              <ul class="nestedList">
                <li> <a href="/topics"> Topics </a> </li>
                <li> <a href="/tutorials"> Tutorials </a> </li>
              </ul>
            <li> New: </li>
              <ul class="nestedList">
                <li> <a href="/topics/new"> Topic </a> </li>
                <li> <a href="/tutorials/new"> Tutorial </a> </li>
                <li> <a href="/subjects/new"> Subject </a> </li>
              </ul>
            <li> <a href="/developers/edit"> Account Settings </a> </li>
          </ul>
        </div>
    <% end %>
    <%= yield %>
  </body>
</html>
